@media (max-width: 320px) {
@media only screen and (max-width= 320px) {
    
body {
position: absolute;
background-color: rgba(255, 255 ,255 ,.55);
max-width: 320px;
    font-size: 16px;
  }
}
    
#nav {
font-size: 15px;
width: 280px;
list-style-type: none;
    
}
    
  #container {
    width: 280px;
    padding: 1px;
  }

    #about {
    width: 320px;
    font-size: 35px;
    vertical-align: middle;
    vertical-align: middle;
    }
        
 h2 {
    font-size: 75%;
  }

  header span {
    display: inline;
    vertical-align: middle
  }

.Logo {
    border: 0;
float: inherit;
    width: auto;
    vertical-align: middle;
}

  img.Profile {
   width: 10px;
    height: 10px;
    vertical-align: middle;
  }


  footer p {
    display: none;
      vertical-align: baseline;
  }

  footer a[href^="tel"] {
    display: block;
  }
}